<div ng-include="'views/home/header.html'"></div>
	<div style="min-height:125%">
	<center>
			<form  class="form-start" >
				 <div class="row">
					<div class="progress blue lighten-3 progress-bar-status">
  						<div class="determinate blue darken-4" id="progressBar"></div>
					</div>
				</div>
				<div class="row">
					<h1 class="col s6 offset-s3">Select Code</h1>        
			  	</div>        
				<div class="row">
					<div class="col s3 offset-s7">
						<button ng-click="next();"class="waves-effect waves-light btn-large blue darken-4 start-button"><i class="material-icons right">visibility</i>View Preview</button>
			  		</div>
			  	</div>
			</form> 			  
	</center>
	</div>
</div>
